:root {
    --accent-color: #3b89ff;
    --accent-dark-color: #2b2eef;
    --font-color: #595959;
    --bg-color: #e1f2ca;
    --ung-blue:#002f87;
    --old-blue:#4073c6;
    --bg2-color:#ffffff;
 }
 .header {
   width: 1893px;
   height: 83px;
 }
 .container {
 width: 1893px;
 height: 83px;
 }

.container img {
   width: 315px;
   height: 50px;
   position: relative;
   top: 15px;
}
 body {
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: var(--font-color);
 }
 
 main {
    background-color: var(--bg-color);
    margin: 0;
    padding: 5px 10px;
 }
 
 
 header {
    background-color:#002f87;
 }
 
 header h1 {
    color:#ffffff;
    font-size: 3rem;
    margin: 10px 10px;
    text-shadow: 2px 2px 3px gray; 
 }
 
 .navigation {
    background-color: black;
    overflow: hidden;
 }
 .navigation ul {
    list-style-type: none;
    padding: 2px 0px;
 }

 .navigation a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 4px 16px;
   text-decoration: none;
   font-size: 17px;
 }

.navigation a:hover {
   color: white;
   background-color: var(--ung-blue);    
}

.container-lg {
   padding: 20px;
}

 nav .search-item {
    display: inline;
 }
 .search-item ul {
    list-style-type: none;
    padding: 5px 0px;
 }

 
 
 .feature {
    border-radius: 10px;
    background: white;
    padding: 2px 15px 20px 15px;
    margin: 10px 0;
 }
 
 .feature a {
    text-decoration: none;  
 }
 
 .flex-container {
    display: flex;
    flex-direction: row;
 }

 
 .feature-right {
    margin-left: 12px;
 }